*{
    margin: 0px;
    padding: 0px;
    font-family: Figtree-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 80px;
    margin-left: 4%;
}
.action{
    margin-right: 4%;
}
nav{
    width: 560px;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: none;
    font-weight: 700;
    text-transform: uppercase;
}
.search{
    width: 485px;
}